# See http://help.github.com/ignore-files/ for more about ignoring files.

# dotenv environment variable files

*.env
*.env.*
!*.env.example*

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# PNPM dependencies
/.pnp
.pnp.*

# Docker
*.tar

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode-test

# misc
*.pem
/.sass-cache
/connect.lock
/coverage
/typings
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist-ssr
*.local

# Logs

logs
*.log
/libpeerconnection.log
testem.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data
.cache

# Diagnostic reports (https://nodejs.org/api/report.html)

report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Runtime data

pids
_.pid
_.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)

build/Release

# TypeScript cache

*.tsbuildinfo

# Optional npm cache directory

.npm

# Microbundle cache

.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history

.node_repl_history

# Output of 'npm pack'

*.tgz

# yarn v2

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn-integrity

# vercel
.vercel

# vite
**/vite.config.{js,ts,mjs,mts,cjs,cts}.timestamp*

vite.config.*.timestamp*
vitest.config.*.timestamp*